.svg text{
    fill: #ffb348;
}

.axis {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: white;
  stroke: green;
  shape-rendering: crispEdges;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(51, 42, 33, 0.74);
  color: #ff911b;
  border-radius: 2px;
}

/* Creates triangle for tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(180, 21, 16, 0.98);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}
ul.unstyled {
   	list-style: none;
   	padding: 0;
   }
.fnt{
color:white;
}
.arc text{
  font:10px Sans-Serif;
  text-anchor:middle;
}
.arc path{
  stroke:blue;
  fill:red;
}
